.contenedor {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.boton {
  background-color: blue;
  color: rgb(255, 255, 255);
  display: flex;
  text-decoration: none;
  width: 8rem;
  height: 4rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}